.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height:10vh;
  background: rgb(64, 70, 100);
  color: white;
  margin: -8px;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}